extends layout

block content
  h1 Yelp Service
  if error
    h1 Error
    p= JSON.stringify(error)

  #input-yelp-id
    input.yelpId
  #input-name
    input.name
  #input-search
    input.search
  #input-search
    input.location

  #biz-list
