doctype 5
html
  head
    title= title

    script!= javascript  // set express-expose javascript variables

    !=css('style')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    !=js('application')

    script#yelp-template(type='text/template')
      blockquote.card.cut.no-display
        p {{name}}
        p {{review_count}}
        p {{rating}}
        p {{ typeof(phone)!== 'undefined' ?  phone : '' }}
        a(href='{{url}}')
          img(src="{{rating_img_url_large}}")
        p
          img(src="{{snippet_image_url}}")
          {{snippet_text}}

  body
    block content
